/*一些基本样式*/

body, div, a, html, section, footer {
    padding: 0;
    margin: 0;
}

a:hover {
    text-decoration: none;
}

a:after {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
}