/**
*   布局相关的css文档
    元素位置，大小，内外边距等
*/

.container {
    margin: 50px auto;
    width: 475px;
}

/*header*/
.header {
    height: 50px;
    line-height: 50px;
    margin-bottom: 50px;
}

.title {
    display: inline-block;
    margin: 10px 0;
}

.score-container {
    float: right;
    /*width: 120px;*/

}

.score, .score-best {
    display: inline-block;
    padding: 15px 25px;
}

/*header-end*/

/*sub-head*/
.sub-header {
    margin-bottom: 50px;
    /*height: 50px;*/
}

.sub-title {
    float: left;
}

.new-game {
    float: right;
    display: block;
    width: 100px;
    height: 30px;

}

/*sub-head-end*/

/*section*/

.body {
    position: relative;
    width: 445px;
    height: 445px;
    padding: 15px;
}

.cell {
    float: left;
    margin: 0 15px 15px 0;
}

.row-end {
    margin-right: 0;
}

/*section-end*/